%p#notice= notice
.hero-unit
  %h2= @customer.company_name
  %adress
    = @customer.address
    - if !@customer.unit.empty?
      %br
      = "Unit ##{@customer.unit}"
    %br
    = @customer.city + ", " + @customer.state + " " + @customer.zip
  %br
  %p
    %small Primary contact person:
    %small= @customer.primary_contact_person
    %br
    %small Phone:
    %small= number_to_phone(@customer.phone)
    %br
    %small Email:
    %small= mail_to '#', @customer.email
  %p
    %b Visited:
    - if @customer.visited
      Yes
    - else
      No
  %p
    %b Owner:
    = @customer.user.name

  - if @customer.user == current_user || current_user.admin?
    = link_to 'Edit', edit_customer_path(@customer)
    \|
  = link_to 'Return to Customer List', customers_path