.container-fluid
  .row-fluid
    %h1 Customers

    - if @customers.empty?
      (No customers to show you right now.)
    - else
      %table.table.table-striped
        %thead
          %tr
            %th Company
            %th Primary contact person
            %th
            %th

        %tbody
          - @customers.each do |customer|
            - if current_user == customer.user
              %tr
                %td= link_to customer.company_name, customer_path(customer)
                %td= customer.primary_contact_person
                - if current_user == customer.user || curent_user.admin
                  %td= link_to "Edit", edit_customer_path(customer)
                - if current_user.admin
                  %td= link_to "Delete", customer, method: :delete, data: { confirm: 'Are you sure?' }
    %br
    - if current_user.customer_creation_limit< 50
      = link_to 'New Customer', "#newCustomerModal", class: "btn btn-primary", "data-toggle" => "modal"
    - else
      Your daily customer creation limit has been met. Please continue adding customers tomorrow.
    %br
    %br
    = link_to "Click here to see the list of unvisited customers", unvisited_customers_path
    #newCustomerModal.modal.hide.fade
      .modal-header
        %button.close{"data-dismiss" => "modal", "aria-hidden" => "true"}
          x
        %h3 Add new customer
        %br
      .modal-body
        %small **Note: This modal is scrollable **
        %br
        %br
        = minimal_form_for(@customer) do |f|
          .form-inputs
            = f.input :company_name
            = f.input :address
            = f.input :city
            = f.input :state
            = f.input :zip
            = f.input :primary_contact_person
            = f.input :phone
            = f.input :email
            = f.input :facebook
            = f.input :twitter_handle
            = f.input :gabstr_handle
            = f.input :notes, :input_html => {:rows => 7}
            = f.input :visited, :label => "Visited"

            = f.button :submit, class: "btn btn-primary", :disable_with => "Submitting..."
