%div.navbar.navbar-fixed-top.navbar-inverse
  %div.navbar-inner
    %div.container-fluid
      %a.btn.btn-navbar
        data-toggle.collapse data-target.nav-collapse
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
          = link_to "Gabstr CRM", root_path, class: "brand"

        %div.nav-collapse
          %ul.nav
          %ul.nav.pull-right
            - if user_signed_in?
              - if current_user.admin?
                %li= link_to 'Teams', teams_path
              %li= link_to 'My Customers', customers_path
              %li= link_to 'My Account', edit_user_registration_path
              %li= link_to 'Sign out', destroy_user_session_path, method: :delete
            - else
              %li= link_to 'Sign in',  new_user_session_path

